{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-lg-8 col-md-9 col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="./map">Customer Care Map</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="./map">Report a Fault</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">Service Faults</li>
                </ol>
                <h1>Service Faults</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="mapContainer">
                            <div id="message"></div>
                            <div id="googleMap">Map Loading...</div>
                        </div>
                    </div>
                </div>
                <aside class="row">
                    <div class="col-sm-12">
                        <div class="markerExplanation">
                            <h5 class="rightHeader" >
                                <img src="img/onAir_icon_sm.png" alt="Fault Icon">"On-Air" Site
                                <img src="img/offAir_icon_sm.png" alt="Site Off-Air Icon">"Off-Air" Site
                                <img src="img/fault_icon_sm.png" alt="Fault Icon">"Open" Fault Report
                                <img src="img/closed_fault_icon_sm.png" alt="Closed Fault Icon">"Closed" Fault Report
                            </h5>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div id="faultReportForm" class="form-group">
                    <h4 class="leftHeader" >Display Mobile Sites</h4>
                    <select class="form-control" id="selectCounty" name="selectCounty">
                        <option value="ALL">All Counties</option>
                        <option value="CE">Clare</option>
                        <option value="CK">Cork</option>
                        <option value="CN">Cavan</option>
                        <option value="CW">Carlow</option>
                        <option value="DL">Donegal</option>
                        <option value="DN">Dublin</option>
                        <option value="GY">Galway</option>
                        <option value="KE">Kildare</option>
                        <option value="KK">Kilkenny</option>
                        <option value="KY">Kerry</option>
                        <option value="LD">Longford</option>
                        <option value="LH">Louth</option>
                        <option value="LK">Limerick</option>
                        <option value="LM">Leitrim</option>
                        <option value="LS">Laois</option>
                        <option value="MH">Meath</option>
                        <option value="MN">Monaghan</option>
                        <option value="MO">Mayo</option>
                        <option value="OY">Offaly</option>
                        <option value="RN">Roscommon</option>
                        <option value="SO">Sligo</option>
                        <option value="TY">Tipperary</option>
                        <option value="WD">Waterford</option>
                        <option value="WH">Westmeath</option>
                        <option value="WW">Wicklow</option>
                        <option value="WX">Wexford</option>
                    </select><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <button id="displayOnAirSitesBtn" class="btn btn-primary btn-xs btn-block">Working Sites</button>
                        </div>
                        <div class="col-lg-4">
                            <button id="displayControllersBtn" class="btn btn-primary btn-xs btn-block">BSC/RNC</button>
                        </div>
                        <div class="col-lg-4">
                            <button id="clearSitesBtn" class="btn btn-warning btn-xs btn-block">Clear Sites</button>
                        </div>
                    </div>
                </div>

                <div id="faultReportForm1">
                    <h4 class="leftHeader" >Fault Reports linked to e-Mail address: {{ faultRerportEmail }}</h4>
                    <div class="row" id="paging">
                        <nav class="col-sm-12">
                            <ul class="pagination pagination-sm">
                                {{ outputHTML | raw }}
                            </ul>
                        </nav>
                    </div>
                    <div class="row" id="faultReportMiniList">
                        <div class="col-sm-12" >
                            <ul>
                                {% for faultReport in faultReportArr %}
                                    <li><a href="./mapReportFault?formId=2&amp;action=review&amp;faultId={{ faultReport.faultId }}">Fault Ref:{{ faultReport.faultId }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <p id="newFaultReport">Click <strong><a href="./mapReportFault?formId=2&amp;faultReportEmail={{ faultReportEmail }}">here</strong></a> to submit a new <strong>Fault Report</strong><p>
                </div>
                <div id="siteDetails">
                    <h4 class="leftHeader">Click Map Markers For Details</h4>
                    <div id="innerSiteDetails">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title" id="leftHeader">
                                        <a href="#mainDetails" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-phone"></span>Marker Details</a>
                                    </h4>
                                </div>
                                <div id="mainDetails" class="panel-collapse collapse in">
                                    <div class="panel-body" >
                                        <p class="sd" ><span id="spanTitle1"></span><span id="spanDetails1" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle2"></span><span id="spanDetails2" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle3"></span><span id="spanDetails3" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle4"></span><span id="spanDetails4" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle5"></span><span id="spanDetails5" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle6"></span><span id="spanDetails6" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle7"></span><span id="spanDetails7" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle8"></span><span id="spanDetails8" class="detail"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="morePanel" class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#more" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-phone"></span>Show More Details</a>
                                    </h4>
                                </div>
                                <div id="more" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p class="sd" ><span id="spanTitle9"></span><span id="spanDetails9" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle10"></span><span id="spanDetails10" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle11"></span><span id="spanDetails11" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle12"></span><span id="spanDetails12" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle13"></span><span id="spanDetails13" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle14"></span><span id="spanDetails14" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle15"></span><span id="spanDetails15" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle16"></span><span id="spanDetails16" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle17"></span><span id="spanDetails17" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle18"></span><span id="spanDetails18" class="detail"></span></p>
                                        <p class="sd" ><span id="spanTitle19"></span><span id="spanDetails19" class="detail"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/mapScripts/requestJSON.js"></script>
    <script src="js/mapScripts/chooseCounty.js"></script>
    <script src="js/mapScripts/setMarkers.js"></script>
    <!--<script src="js/mapScripts/toggle.js"></script>-->
    <script src="js/mapScripts/markerProperties.js"></script>
    <script src="js/mapScripts/displayMapAndMarker.js"></script>
    <script src="js/mapScripts/googleMap3.js"></script>
    <script src="js/mapScripts/loadMap_ReportFaultForm3.js"></script>
{% endblock %}