{#--------------------------------#}
{# templates/mapReportFaultForm1.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}

{% block title %}Customer Care Map{% endblock %}

{#--------------------------------#}

{% block style %}
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row">
            <div class="col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="./map">Customer Care Map</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="./map">Report a Fault</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="./mapReportFault?formId=3">Service Faults</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active">{{ pageBreadCrumb }}</li>
                </ol>
                <h1>Service Fault</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="mapContainer">
                            <div id="message"></div>
                            <div id="googleMap">Map Loading...</div>
                        </div>
                    </div>
                </div>
                <aside class="row">
                    <div class="col-sm-12">
                        <div class="markerExplanation">
                            <h5 class="rightHeader" >
                                <img src="img/onAir_icon_sm.png" alt="Fault Icon">"On-Air" Site
                                <img src="img/offAir_icon_sm.png" alt="Site Off-Air Icon">"Off-Air" Site
                                <img src="img/fault_icon_sm.png" alt="Fault Icon">"Open" Fault Report
                                <img src="img/closed_fault_icon_sm.png" alt="Closed Fault Icon">"Closed" Fault Report
                            </h5>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-4">
                <div id="detailsCol">
                    <div id="faultReportForm1">
                        <h4 class="leftHeader" id="leftHeader2">Fault {{ faultId }} Details</h4>
                        <form id="createReportFault" action="{{ formAction | raw }}" method="POST">
                            <div class="form-group required">
                                (Required Field *) <span class="detail">{{ updatingFaultId }}</span>
                            </div>
                            <div class="form-group">
                                <label for="faultCounty">Fault County: </label><span class="required"> *</span>
                                {% if readonly %}
                                    <input type="text" id="faultCounty" name="faultCounty" value="{{ faultCounty }}" class="readOnly" {{ readonly }} >
                                {% else %}
                                    <select id="faultCounty" name="faultCounty" class="form-control" required>
                                        <option value="">Select County</option>
                                        <option value="Clare">Clare</option>
                                        <option value="Cork">Cork</option>
                                        <option value="Cavan">Cavan</option>
                                        <option value="Carlow">Carlow</option>
                                        <option value="Donegal">Donegal</option>
                                        <option value="Dublin">Dublin</option>
                                        <option value="Galway">Galway</option>
                                        <option value="Kildare">Kildare</option>
                                        <option value="Kilkenny">Kilkenny</option>
                                        <option value="Kerry">Kerry</option>
                                        <option value="Longford">Longford</option>
                                        <option value="Louth">Louth</option>
                                        <option value="Limerick">Limerick</option>
                                        <option value="Leitrim">Leitrim</option>
                                        <option value="Laois">Laois</option>
                                        <option value="Meath">Meath</option>
                                        <option value="Monaghan">Monaghan</option>
                                        <option value="Mayo">Mayo</option>
                                        <option value="Offaly">Offaly</option>
                                        <option value="Roscommon">Roscommon</option>
                                        <option value="Sligo">Sligo</option>
                                        <option value="Tipperary">Tipperary</option>
                                        <option value="Waterford">Waterford</option>
                                        <option value="Westmeath">Westmeath</option>
                                        <option value="Wicklow">Wicklow</option>
                                        <option value="Wexford">Wexford</option>
                                    </select>
                                {% endif %}

                            </div>
                            {% if readonly %}
                                <div id="clickInstructions"><hr></div>
                            {% else %}
                                <div class="alert alert-info required" id="clickInstructions">Click on Map location to retrieve approx Lat/Long of Fault. (Use Zoom to Pinpoint)</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="faultLatitude">Fault Latitude:</label><span class="required"> *</span>
                                <input type="text" class="form-control readOnly" id="faultLatitude" name="faultLatitude" value="{{ faultLatitude }}" {{ readonly }} required>
                            </div>
                            <div class="form-group">
                                <label for="faultLongitude">Fault Longitude:</label><span class="required"> *</span>
                                <input type="text" class="form-control readOnly" id="faultLongitude" name="faultLongitude" value="{{ faultLongitude }}" {{ readonly }} required>
                            </div>
                            <div class="form-group">
                                <label for="faultAddress">Fault Address:</label><span class="required"> *</span>
                                <input type="text" class="form-control readOnly" id="faultAddress" name="faultAddress" value="{{ faultAddress }}" {{ readonly }} required>
                            </div>
                            <div class="form-group">
                                <label for="faultMsisdn">Mobile Number with Fault: (353 Format)</label><span class="required"> *</span>
                                <input id="faultMsisdn" class="form-control" name="faultMsisdn" pattern="[3]{1}[5]{1}[3]{1}[8]{1}[0-9]{8}" value="{{ faultMsisdn }}"  {{ readonly }} required>
                            </div>
                            <div class="form-group">
                                <label for="faultType">Type of Fault:</label><span class="required"> *</span>
                                {% if readonly %}
                                    <input type="text" class="form-control readOnly" id="faultType" name="faultType" value="{{ faultType }}"  {{ readonly }} >
                                {% else %}
                                    <select class="form-control" id="faultType" name="faultType" size="1"   required>
                                        <option value="">-</option>
                                        <option value="all">All</option>
                                        <option value="sms">SMS</option>
                                        <option value="data">DATA</option>
                                        <option value="voice">VOICE</option>
                                    </select>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="faultFrequency">Fault Frequency:</label><span class="required"> *</span>
                                {% if forSubmission == true %}
                                    <select class="form-control" id="faultFrequency" name="faultFrequency"  {{ disabled }} required>
                                        <option value="">-</option>
                                        <option value="intermittent">Intermittent</option>
                                        <option value="constant">Constant</option>
                                    </select>
                                {% else %}
                                    <input type="text" class="form-control" id="faultFrequency" value="{{ faultFrequency }}"   {{ readonly }} required>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="faultDateFrom">Date From:</label><span class="required"> *</span>
                                <input type="date" class="form-control" id="faultDateFrom" name="faultDateFrom" value="{{ faultDateFrom }}"  {{ readonly }} required>
                            </div>

                            <div class="form-group">
                                <label for="faultDescription">Fault Description:</label><span class="required" > *</span><br>
                                <textarea class="form-control" id="faultDescription" name="faultDescription" rows="6" cols="30" {{ readonly }} required>{{ faultDescription }}</textarea>
                            </div>
                            {% if forSubmission == true %}
                                <div>
                                    <!--hidden value . Status is by default OPEN-->
                                    <input type="hidden" class="form-control readOnly" id="faultStatus" name="faultStatus" value="open" >
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="faultStatus">Fault Status:</label>
                                    {% if faultStatusMenu == true %}
                                        <input type="text" class="form-control readOnly" id="faultStatus" name="faultStatus" value="{{ faultStatus }}"  readonly>
                                    {% elseif adminFaultStatusMenu == true %}
                                        <select class="form-control" id="faultStatus" name="faultStatus" >
                                            <option value="open" selected>Open</option>
                                            <option value="closed">Closed</option>
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="faultUpdate">Fault Engineer Update:</label><br>
                                    <textarea class="form-control" id="faultUpdate" name="faultUpdate" rows="3" cols="30"  {{ readonly2 }} >{{ faultUpdate }}</textarea>
                                </div>
                            {% endif %}
                            <div>
                                <input type="hidden" id="faultReportEmail" name="faultReportEmail" value="{{ faultReportEmail }}">
                                <input type="hidden" id="faultId" name="faultId" value="{{ faultId }}">
                                {% if updateButton == true %}
                                    {% include 'adminUpdateBtn.html.twig' %}
                                {% else %}
                                    {% if forSubmission == true %}
                                        {% include 'adminSubmitBtn.html.twig' %}
                                    {% endif %}
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>




    </main>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootStrap/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/mapScripts/requestJSON.js"></script>
    <script src="js/mapScripts/chooseCounty.js"></script>
    <script src="js/mapScripts/setMarkers.js"></script>
    <script src="js/mapScripts/markerProperties.js"></script>
    <script src="js/mapScripts/displayMapAndMarker.js"></script>
    <script src="js/mapScripts/googleMap2.js"></script>
    {% if readonly %}
        <script src="js/mapScripts/loadMap_AdminReportFaultForm2.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeEoDIWMtJXdXULdRpOOhpooX2QCky-KA&callback=prepareMap"></script>
    {% else %}
        <script src="js/mapScripts/loadMap_ReportFaultForm2.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeEoDIWMtJXdXULdRpOOhpooX2QCky-KA&callback=prepareMap"></script>
    {% endif %}
    

{% endblock %}